@inject IVenusResolver Resolver
@inject JSInterop JSInterop

<dialog @ref="_dialog" @onclose="OnClose">
    <div class="header">
        @if (!string.IsNullOrEmpty(Properties.Title))
        {
            <h3 class="title">@Properties.Title</h3>
        }
        @if (Properties.ShowClose)
        {
            @if(Resolver.IconStyle == IconStyle.Fluent)
            {
                <FluentIconButton Class="dialog-close" Icon="@ComponentIcons.Fluent.Close" OnClick="CloseDialogAsync" />
            }
            else
            {
                <IconButton Class="dialog-close" Icon="@ComponentIcons.Feather.Close" OnClick="CloseDialogAsync" />
            }
        
        }
    </div>
    <div class="content">
        <DynamicComponent Type="ComponentType" Parameters="Parameters"/>
    </div>
</dialog>

