<Dialog OnDismissingFunc="OnDismissingFunc" Class="@GetClass()" @ref="_innerDialog">
    <section class="icon-section">
        @Icon
    </section>
    <section class="title-section">
        @Title
    </section>
    <section class="text-section">
        @Text
    </section>
    <section class="actions-section">
        @DismissButton
        @ConfirmButton
    </section>
</Dialog>

